.marker {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: red;
	position: absolute;
}

img {
	position: absolute;
}

.commentBox {
	z-index: 20;
	position: absolute;
}

.textbox {
	position: absolute;
}

.comment {
	position: absolute;
}